/* La regla especial @font-face me permite cargar una tipografía desde un archivo local y asignarle un nombre mediante la propiedad font-family */
@font-face 
{
  /* El nombre que le damos a la tipografía que cargamos */
  font-family: "FNAF";
  src: url(../fonts/SHOWG.ttf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "FNAF";
}

body
{
    background-image: url(../media/images/Galaxy.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 2%;
}

.menu-cont
{
    padding: 2em;
    background-image: url(../media/images/Purple-Dephts.png);
}

.menu-cont > a
{
    display: block;
    width: 100%;
}

nav .menu-opt
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Estado en reposo */
nav ul a
{
    display: block;
    font-weight: bold;
    color: yellow;
    text-decoration: none;
    transition: 0.3s;
}

nav ul a:hover
{
    color: white;
}

h1
{
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 1em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}