@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #363434; /* Gris muy oscuro */
    color: #e0e0e0; /* Gris claro */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    background-image: linear-gradient(
        rgba(61, 57, 57, 0.8),
        rgba(0,0,0,0.8)),
        url(../media/images/Purple-Dephts.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 15;
}

.logo{
    color: #9b4d96; /* Morado */
    font-size: 30px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ff6347; /* Rojo tomate */
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover {
    color: #9b4d96; /* Morado */
}

#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
    z-index: 10;
}

.header-content h1 {
    font-size: 70px;
    line-height: 80px;
    color: #ff6347; /* Rojo tomate */
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #d1c6e7; /* Gris suave */
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #9b4d96; /* Morado */
    color: #F9FAFC;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn-1:hover {
    background-color: #7e3e7e; /* Morado más oscuro */
}

/* Sección de personajes */
.personajes {
    padding: 100px 0;
    background-color: #262626; /* Gris muy oscuro */
    position: relative;
}

.personajes-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #ff6347; /* Rojo tomate */
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 15px;
}

.text-p {
    font-size: 16px;
    color: #d1c6e7; /* Gris suave */
    padding: 0 250px;
    margin-bottom: 35px;
}

.personajes-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.personajes-1 {
    padding: 0 25px;
}

.personajes-1 img {
    width: 200px;
    border-radius: 10px;
}

.personajes-img {
    position: absolute;
    top: 0;
    right: 0;
}

.personajes-1 h3 {
    color: #ff6347; /* Rojo tomate */
    font-size: 20px;
    margin-bottom: 15px;
}

/* Sección de redes sociales */
.rrss {
    background-image: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)),
        url(../media/images/Galaxy.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.rrss-content {
    text-align: center;
}

.rrss-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #9b4d96; /* Morado */
    text-transform: uppercase;
    margin-bottom: 50px;
}

.rrss-content p {
    font-size: 16px;
    color: #d1c6e7; /* Gris suave */
    margin-bottom: 50px;
    padding: 0 100px;
}

.rrss-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.rrss-1 {
    padding: 0 100px;
}

.rrss-1 img {
    width: 100px;
    margin-bottom: 15px;
}

.rrss-1 h3 {
    color: #ff6347; /* Rojo tomate */
    font-size: 18px;
}

/* Formulario */
form {
    background-color: #333333; /* Gris oscuro */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    margin-top: 30px;
}

form h2 {
    color: #9b4d96; /* Morado */
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #666;
    background-color: #444; /* Gris oscuro */
    color: #fff;
    font-size: 16px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #ff6347; /* Rojo tomate */
    background-color: #555;
}

button {
    background-color: #ff6347; /* Rojo tomate */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #9b4d96; /* Morado */
}

/* Sección de información */
.info {
    display: flex;
}

.info-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #ffbe46; /* Amarillo vibrante */
}

.info-2, .info-3 {
    background-image: url(../media/images/Aesthetic.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.info-3 {
    background-image: url(../media/images/Camera.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #9b4d96; /* Morado */
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #ffffff;
    margin: 25px 0 45px 0;
}

.boss {
    padding: 100px 0;
    text-align: center;
}

.boss-content {
    display: flex;
    justify-content: space-between;
}

.boss-1 {
    padding: 15px 55px;
}

.boss-1 img {
    width: 20vw;
    border-radius: 15px;
    margin-bottom: 15px;
}

.boss-1 h3 {
    font-size: 25px;
    color: #ff6347; /* Rojo tomate */
}

.trailer {
    padding: 100px 0;
    text-align: center;
}

.footer {
    padding: 100px 0;
    background-color: #000000; /* Gris oscuro */
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #FFCDD2; /* Rosa pálido */
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #cccccc; /* Gris claro */
    display: block;
    margin-bottom: 15px;
}

@media(max-width:991px) {
    * {
        text-align: center;
    }

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

   /* Estilo para el checkbox para que no sea visible */
#menu {
    display: none;
}

/* Cuando el checkbox está marcado, mostramos el menú */
#menu:checked + label + .navbar {
    display: block;
}

/* Estilo del menú por defecto (cuando no se muestra) */
.navbar {
    display: none;
}

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .personajes {
        padding: 30px;
    }

    .personajes-content h2 {
        padding: 0;
    }

    .text-p {
        padding: 0;
    }

    .personajes-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .personajes-img {
        display: none;
    }

    .rrss {
        padding: 30px;
    }

    .rrss-content p {
        padding: 0;
    }

    .rrss-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .rrss-1 {
        margin-bottom: 25px;
    }

    .info {
        flex-direction: column;
    }

    .info-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .info-2, .info-3 {
        display: none;
    }

    .block {
        padding: 30px;
    }

    .block-content {
        flex-direction: column;
    }

    .boss-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .boss-content {
        flex-direction: column;
    }

    .boss-1 {
        padding: 15px;
        text-align: center;
    }

    .boss-1 img {
        width: 100%;
        margin-bottom: 15px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        background-color: #000;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
    header {
        position: relative;
        background: url(../media/images/Galaxy.png) no-repeat center center/cover;
        height: 100vh;
        color: white;
        padding-top: 50px;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }
    
    .navbar ul {
        list-style-type: none;
    }
    
    .navbar ul li {
        display: inline;
        margin: 0 15px;
    }
    
    .navbar ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    
    #menu {
        display: none;
    }
    
    #menu:checked + label + .navbar {
        display: block;
    }
    
    label {
        cursor: pointer;
    }
    
    .menu-icono {
        width: 30px;
        height: 30px;
    }
    
    .header-content {
        text-align: center;
        padding-top: 20px;
    }
    
    .header-content h1 {
        font-size: 50px;
    }
    
    header p {
        font-size: 20px;
        margin: 20px 0;
    }
    
    .btn-1 {
        padding: 10px 20px;
        background-color: #f7941d;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .personajes {
        background-color: #000000;
        padding: 50px 0;
    }
    
    .personajes-img {
        width: 100%;
        height: auto;
    }
    
    .personajes-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .personajes-1 {
        width: 30%;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .personajes-1 img {
        width: 100%;
        height: auto;
    }
    
    footer {
        background-color: #000000;
        padding: 30px 0;
        color: #fff;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    
    .link {
        width: 20%;
    }
    
    .link h3 {
        margin-bottom: 10px;
    }
    
    .link ul {
        list-style-type: none;
    }
    
    .link ul li {
        margin-bottom: 10px;
    }
    
    .link ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .rrss-group {
        display: flex;
        justify-content: space-between;
    }
    
    .rrss-1 {
        width: 30%;
        text-align: center;
    }
    
    .rrss-1 img {
        display: none;
    }
}